@font-face {
    font-family: 'lato-bold';
    src: url(../fonts/Lato-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: 'lato-italic';
    src: url(../fonts/Lato-Italic.ttf);
    font-style: italic;
}

@font-face {
    font-family: 'lato';
    src: url(../fonts/Lato-Regular.ttf);
    font-style: normal;
}

.break{
    height: 70px;
}

body{
    background-color: #dddddd;
}

a h1{
    color: aliceblue;
    text-outline: 2px #1f1d1d;

}

#landing{
    width: 100vw;
    height: calc(65vh - 119px);
}

body{
    position: relative;
}

h1{
    font-size: 4.5rem;
    font-family: lato-bold, sans-serif;
}

h2{
    font-size: 4rem;
    font-family: lato-bold, sans-serif;
}

p{
    font-size: 1.5rem;
    font-family: lato, sans-serif;
}

pre{
    background: #fafafa;
    white-space: pre;
    word-wrap: break-word;
    overflow: auto;
    padding: 10px;
}

#header{
    position: relative;
    background: url("../imgs/background-unsplash.jpg") center center/cover;
    width: auto;
    height: 35vh;
    padding-top: 9vh;
}

#header h1{
    font-size: 6rem;
    text-shadow: #ff0000 1px 1px 30px ;
    text-align: center;
    color: white;

}

#main-content{
    height: calc(100vh - 35vh - 119px);
    display: flex;
    justify-content: center;
    align-items: center;
}

tr{
    text-align: center;
    font-size: 2rem;
    font-family: lato-bold, sans-serif;
}

td{
    font-size: 1.5rem;
    font-family: lato, sans-serif;
}

td.bigrow {
    font-size: 1.8rem;
    font-family: lato-bold, sans-serif;
}

/* Voivodeships */

.mapid {
    width: auto;
    height: 90vh;
    min-height: 720px;
}

.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
}

.legend {
    line-height: 18px;
    color: #555;
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}

/* Voivodeships */

