<div class="container-fluid" id="content">
    <div class="row py-5 bg-dark text-white" id="about-1">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <h1 class="text-center text-uppercase">O pluginie</h1>
            <p class="text-justify">
                Leaflet to wiodąca biblioteka JavaScript typu open source do interaktywnych map przyjaznych dla urządzeń mobilnych.
                Pomimo zaledwie 39 KB kodu JS, posiada wszystkie funkcje mapowania, jakich potrzebuje większość programistów.
                Biblioteka Leaflet została zaprojektowana z myślą o prostocie, wydajności i użyteczności.
                Działa wydajnie na wszystkich głównych platformach stacjonarnych i mobilnych, może być rozszerzana o wiele wtyczek,
                ma piękny, łatwy w użyciu i dobrze udokumentowany interfejs API oraz prosty, czytelny kod źródłowy.
            </p>
        </div>
        <div class="col-md-3"></div>
    </div>

    <div class="row py-4 bg-primary">
        <div class="col-md-6">
            <h2 class="text-center text-uppercase">Korzystanie z wersji hostowanej</h2>
            <p>Najnowsza stabilna wersja Leaflet jest dostępna w kilku CDN - aby skorzystać z Leaflet, umieść to w nagłówku kodu HTML:</p>
            <pre>
    &lt;link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="crossorigin=""/&gt;

    &lt;script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
    integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="crossorigin=""&gt;
    &lt;/script&gt;
            </pre>
        </div>

        <div class="col-md-6">
            <h2 class="text-center text-uppercase">Korzystanie z pobranej wersji</h2>
            <p>Linki do pobrania:</p>
            <div class="container text-white pb-3">
                <a href="http://cdn.leafletjs.com/leaflet/v1.7.1/leaflet.zip" class="btn btn-danger btn-lg btn-block">Leaflet.js 1.7.1 (stable)</a>
                <a href="https://leafletjs-cdn.s3.amazonaws.com/content/leaflet/master/leaflet.zip" class="btn btn-danger btn-lg btn-block">Leaflet.js 1.8 (dev)</a>
                <a href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.zip" class="btn btn-danger btn-lg btn-block">Leaflet.js 0.7.7 (legacy)</a>
            </div>
            <p>Rozpakuj pobrane archiwum do katalogu swojej witryny i dodaj to w nagłówku kodu HTML:</p>
            <pre>
    &lt;link rel="stylesheet" href="/path/to/leaflet.css" /&gt;

    &lt;script src="/path/to/leaflet.js""&gt;&lt;/script&gt;
            </pre>
        </div>

    </div>

    <div class="row py-4 bg-primary">

        <div class="col-md-6">
            <h2 class="text-center text-uppercase">Korzystanie z menedżera pakietów JavaScript</h2>
            <p>Jeśli korzystasz z menedżera pakietów npm, możesz pobrać lokalną kopię Leaflet, uruchamiając:</p>
            <pre>
    npm install leaflet
            </pre>
        </div>

        <div class="col-md-6">
            <h2 class="text-center text-uppercase">Kod źródłowy Leaflet</h2>
            <p>Jeśli chcesz pobrać pełny kod źródłowy, w tym testy jednostkowe, pliki do debugowania, skrypty kompilacji itp., możesz znaleźć go na</p>
            <div class="container text-white pb-3">
                <a href="https://github.com/Leaflet/Leaflet" class="btn btn-danger btn-lg btn-block">repozytorium GitHub</a>
            </div>
        </div>

    </div>
</div>
