<div class="container" id="content">
    <h1 class="text-center pt-3">Tworzenie interaktywnego kartogramu</h1>
    <h2>Dane:</h2>
    <p>
        Będziemy tworzyć wizualizację gęstości zaludnienia polskich województw.
        Ponieważ ilość danych (kształty województw i wartości gęstości dla każdego województwa) nie jest zbyt duża,
        najwygodniejszym i najprostszym sposobem ich przechowywania, a następnie wyświetlania jest GeoJSON.
        Każda właściwość naszych danych GeoJSON <a href="https://gist.github.com/PKBrodzik/6784736a4f0163c8de1711a3cd538e0e">map.js</a> będzie wyglądać następująco:
    </p>
    <pre>
{
    "type":"Feature",
    "properties":{
        "ID_0":181,
        "ISO":"POL",
        "ID_1":1,
        "NAME_1":"Łódź",
        "TYPE_1":"Województwo",
        "ENGTYPE_1":"Voivodeship|Province",
        "name":"Łódzkie",
        "pop":"2460170",
        "area":"18219",
        "popden":"136"
    },
    "geometry":{
        "type":"Polygon",
        "coordinates": ...
}
    </pre>
    <p>W tym przykładzie wykorzystamy wartości name oraz popden</p>
    <h2>Podstawowa mapa</h2>
    <p>
        Pierwszym krokiem tworzenia kartogramu będzie utworzenie zwykłej mapy. W tym celu skorzystamy ze strony
        <a href="https://www.mapbox.com">Mapbox</a>. Zawarte jest na niej wiele niestandardowych styli map. W tym
        przykładzie wykorzystamy mapę <a href="https://www.mapbox.com/maps/dark">"Dark"</a>
    </p>
    <p>
        Tworzymy "pojemnik" &lt;div&gt; na mapę, oraz skrypt ładujący mapę, która zostanie załadowana na pozycji N52,E19
        (geograficzny środek Polski) z przybliżeniem 6.
    </p>
    <pre>
&lt;div id=&quot;mapid&quot; class=&quot;mapid&quot;&gt;&lt;/div&gt;
&lt;script&gt;
    var mapboxAccessToken = &quot;(twój token dostępu, znajdujący się w url strony)&quot;;
    var mymap = L.map('mapid').setView([52, 19], 6);
    L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=' + mapboxAccessToken, {
        attribution: 'Map data &amp;copy; &lt;a href=&quot;https://www.openstreetmap.org/copyright&quot;&gt;OpenStreetMap&lt;/a&gt; contributors, Imagery &copy; &lt;a href=&quot;https://www.mapbox.com/&quot;&gt;Mapbox&lt;/a&gt;',
        maxZoom: 18,
        id: 'mapbox/dark-v10',
        tileSize: 512,
        zoomOffset: -1,
        accessToken: 'pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4M29iazA2Z2gycXA4N2pmbDZmangifQ.-g_vE53SD2WrJ6tFX7QHmA'
    }).addTo(mymap);

&lt;/script&gt;
    </pre>
    <div>
        <iframe src="casestudy/ex1.html" width="716" height="516"></iframe>
    </div>
    <h2>Mapa województw</h2>
    <p>
        Następnym krokiem jest dodanie mapy województw, która znajduje się w pliku map.js.
    </p>
    <p>
        Do naszego skryptu dodajemy:
    </p>
    <pre>
        L.geoJson(voivodeship).addTo(mymap);
    </pre>
    <p>
        A do głowy:
    </p>
    <pre>
        &lt;script type=&quot;text/javascript&quot src=&quot;map.js&quot;&gt;&lt;/script&gt;
    </pre>
    <div>
        <iframe src="casestudy/ex2.html" width="716" height="516"></iframe>
    </div>
    <h2>Kolory zależne od gęstości</h2>
    <p>
        Tworzymy funkcję, która zwraca kolor na podstawie gęstości zaludnienia, a następnie definiujemy funkcję stylizacji
        dla naszej warstwy GeoJSON, tak aby jej fillColor zależał od właściwości feature.properties.density,
        dostosowując również nieco wygląd, poprzez dodanie przerywanego obrysu województw.
    </p>
    <pre>
function getColor(x) {
        return x &gt; 200 ? '#08589e' :
            x &gt; 175  ? '#2b8cbe' :
                x &gt; 150  ? '#4eb3d3' :
                    x &gt; 125  ? '#7bccc4' :
                        x &gt; 100   ? '#a8ddb5' :
                            x &gt; 80   ? '#ccebc5' :
                                x &gt; 60   ? '#e0f3db' :
                                    '#f7fcf0';
}

function style(feature) {
    return {
    fillColor: getColor(feature.properties.popden),
    weight: 2,
    opacity: 1,
    color: 'white',
    dashArray: '3',
    fillOpacity: 0.7
    };
}

L.geoJson(voivodeship, {style: style}).addTo(mymap);
    </pre>
    <div>
        <iframe src="casestudy/ex3.html" width="716" height="516"></iframe>
    </div>
    <h2>Interaktywna mapa</h2>
    <p>
        Teraz sprawmy, by województwa były w jakiś sposób podświetlone wizualnie po najechaniu kursorem myszy.
        Zdefiniujemy detektory zdarzeń dla zdarzeń mouseover oraz mouseout:
    </p>
    <pre>
function highlightFeature(e) {
    var layer = e.target;

    layer.setStyle({
    weight: 5,
    color: '#666',
    dashArray: '',
    fillOpacity: 0.7
    });

    if (!L.Browser.ie &amp;&amp; !L.Browser.opera &amp;&amp; !L.Browser.edge) {
    layer.bringToFront();
    }
    info.update(layer.feature.properties);
}

function resetHighlight(e) {
    geojson.resetStyle(e.target);
    info.update();
}
    </pre>
    <p>
        Aby to zadziałało, upewnij się, że nasza warstwa GeoJSON jest dostępna za pośrednictwem zmiennej geojson,
        definiując ją przed naszymi detektorami a warstwę przypisz do niej później:
    </p>
    <pre>
        var geojson;

        function highlightFeature(e) {...}
        function resetHighlight(e) {...}

        geojson = L.geoJson(...);
    </pre>
    <p>
        Jako dodatkowy akcent zdefiniujmy detektor kliknięć, który przybliża do województwa:
    </p>
    <pre>
function zoomToFeature(e) {
    map.fitBounds(e.target.getBounds());
}
    </pre>
    <p>
        Teraz użyjemy opcji onEachFeature, aby dodać detektory do naszej warstwy województw:
    </p>
    <pre>
function onEachFeature(feature, layer) {
    layer.on({
        mouseover: highlightFeature,
        mouseout: resetHighlight,
        click: zoomToFeature
    });
}

geojson = L.geoJson(voivodeship, {
    style: style,
    onEachFeature: onEachFeature
}).addTo(map);
    </pre>
    <div>
        <iframe src="casestudy/ex4.html" width="716" height="516"></iframe>
    </div>
    <h2>Niestandardowa kontrolka z informacją</h2>
    <p>
        Aby wyświetlić informacje o województwach użyjemy niestandardowej kontrolki.
        Informacje pokażemy po najechaniu kursorem na województwo.
    </p>
    <pre>
var info = L.control();

info.onAdd = function (map) {
    this._div = L.DomUtil.create('div', 'info'); // tworzymy div z klasą &quot;info&quot;
    this.update();
    return this._div;
};

// metoda, której użyjemy do aktualizacji kontrolki na podstawie przekazanych właściwości elementu

info.update = function (props) {
    this._div.innerHTML = '&lt;h4&gt;Zagęszczenie ludności w Polsce - województwa&lt;/h4&gt;' +  (props ?
        '&lt;b&gt;' + props.name + '&lt;/b&gt;&lt;br /&gt;' + props.popden + ' osób / km&lt;sup&gt;2&lt;/sup&gt;'
        : 'Najedź na województwo');
};
    </pre>
    <p>
        Musimy zaktualizować kontrolkę, gdy użytkownik najedzie kursorem na województwo, więc zmodyfikujemy również
        nasze detektory w następujący sposób:
    </p>
    <pre>
function highlightFeature(e) {
    ...
    info.update(layer.feature.properties);
}

function resetHighlight(e) {
    ...
    info.update();
}
    </pre>
    <p>
        Dodajmy także stylowanie kontrolki
    </p>
    <pre>
.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
}
    </pre>
    <h2>Niestandardowa kontrolka z legendą</h2>
    <p>
        Tworzenie kontrolki z legendą jest łatwiejsze, ponieważ jest ona statyczna i nie zmienia się po
        najechaniu kursorem na województwo.
    </p>
    <pre>
var legend = L.control({position: 'bottomright'});

legend.onAdd = function (map) {

    var div = L.DomUtil.create('div', 'info legend'),
        grades = [40, 60, 80, 100, 125, 150, 175, 200],
        labels = [];

    for (var i = 0; i < grades.length; i++) {
        div.innerHTML +=
            '&lt;i style="background:' + getColor(grades[i] + 1) + '"&gt;&lt;/i&gt; ' +
            grades[i] + (grades[i + 1] ? '&ndash;' + grades[i + 1] + '&lt;br&gt;' : '+');
    }

    return div;
};

legend.addTo(mymap);
    </pre>
    <p>
        Dodajmy także stylowanie legendy
    </p>
    <pre>
.legend {
    line-height: 18px;
    color: #555;
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}
    </pre>
    <h2>A oto efekt:</h2>
    <div>
        <iframe src="casestudy/ex5.html" width="716" height="516"></iframe>
    </div>
</div>
