<div class="container-fluid" id="content">
    <h1 class="text-center">Mapa zawierająca gęstość zaludnienia województw w Polsce</h1>
    <br>
    <div id="mapid" class="mapid"></div>
    <script>
        $(function(){
            var mapboxAccessToken = "pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4M29iazA2Z2gycXA4N2pmbDZmangifQ.-g_vE53SD2WrJ6tFX7QHmA";
            var mymap = L.map('mapid').setView([52, 19], 7);
            L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=' + mapboxAccessToken, {
                attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
                maxZoom: 18,
                id: 'mapbox/dark-v10',
                tileSize: 512,
                zoomOffset: -1,
                accessToken: 'pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4M29iazA2Z2gycXA4N2pmbDZmangifQ.-g_vE53SD2WrJ6tFX7QHmA'
            }).addTo(mymap);


            function getColor(x) {
                return x > 200 ? '#08589e' :
                    x > 175  ? '#2b8cbe' :
                        x > 150  ? '#4eb3d3' :
                            x > 125  ? '#7bccc4' :
                                x > 100   ? '#a8ddb5' :
                                    x > 80   ? '#ccebc5' :
                                        x > 60   ? '#e0f3db' :
                                            '#f7fcf0';
            }

            function style(feature) {
                return {
                    fillColor: getColor(feature.properties.popden),
                    weight: 2,
                    opacity: 1,
                    color: 'white',
                    dashArray: '3',
                    fillOpacity: 0.7
                };
            }

            function highlightFeature(e) {
                var layer = e.target;

                layer.setStyle({
                    weight: 5,
                    color: '#666',
                    dashArray: '',
                    fillOpacity: 0.7
                });

                if (!L.Browser.ie && !L.Browser.opera && !L.Browser.edge) {
                    layer.bringToFront();
                }
                info.update(layer.feature.properties);
            }

            function resetHighlight(e) {
                geojson.resetStyle(e.target);
                info.update();
            }

            var geojson;

            function zoomToFeature(e) {
                map.fitBounds(e.target.getBounds());
            }

            function onEachFeature(feature, layer) {
                layer.on({
                    mouseover: highlightFeature,
                    mouseout: resetHighlight,
                    click: zoomToFeature
                });
            }

            geojson = L.geoJson(voivodeship, {
                style: style,
                onEachFeature: onEachFeature
            }).addTo(mymap);

            var info = L.control();

            info.onAdd = function (map) {
                this._div = L.DomUtil.create('div', 'info');
                this.update();
                return this._div;
            };
            
            info.update = function (props) {
                this._div.innerHTML = '<h4>Zagęszczenie ludności w Polsce - województwa</h4>' +  (props ?
                    '<b>' + props.name + '</b><br />' + props.popden + ' osób / km<sup>2</sup>'
                    : 'Najedź na województwo');
            };

            info.addTo(mymap);

            var legend = L.control({position: 'bottomright'});

            legend.onAdd = function (map) {

                var div = L.DomUtil.create('div', 'info legend'),
                    grades = [40, 60, 80, 100, 125, 150, 175, 200],
                    labels = [];

                for (var i = 0; i < grades.length; i++) {
                    div.innerHTML +=
                        '<i style="background:' + getColor(grades[i] + 1) + '"></i> ' +
                        grades[i] + (grades[i + 1] ? '&ndash;' + grades[i + 1] + '<br>' : '+');
                }

                return div;
            };

            legend.addTo(mymap);
        });
    </script>



</div>
