<div class="container-fluid" id="content">
    <h1 class="text-center pt-4" >Najważniejsze funkcje:</h1>
    <br>
    <div class="container-fluid">
        <div class="row pb-4">
            <div class="col-4">
                <div class="list-group" id="list-tab" role="tablist">
                    <a class="list-group-item list-group-item-action active" id="list-lmap-list" data-toggle="list" href="#list-lmap" role="tab" aria-controls="lmap">L.map</a>
                    <a class="list-group-item list-group-item-action" id="list-layer-list" data-toggle="list" href="#list-layer" role="tab" aria-controls="profile">Warstwy</a>
                    <a class="list-group-item list-group-item-action" id="list-layer-popup" data-toggle="list" href="#list-popup" role="tab" aria-controls="profile">Popupy</a>
                    <a class="list-group-item list-group-item-action" id="list-layer-marker" data-toggle="list" href="#list-marker" role="tab" aria-controls="profile">Znaczniki</a>
                    <a class="list-group-item list-group-item-action" id="list-layer-tooltip" data-toggle="list" href="#list-tooltip" role="tab" aria-controls="profile">Podpowiedzi</a>

                </div>
            </div>
            <div class="col-8">
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="list-lmap" role="tabpanel" aria-labelledby="list-lmap-list">
                        <h2>L.map(&lt;String&gt; <i>id</i>, &lt;Map options&gt; <i>options?</i>)</h2>
                        <p>Tworzy instancję obiektu mapy z podanym identyfikatorem DOM elementu &lt;div&gt; i opcjonalnie literałem obiektu z opcjami map.</p>
                        <h2>L.map(&lt;HTMLElement&gt; <i>el</i>, &lt;Map options&gt; <i>options?</i>)</h2>
                        <p>Tworzy instancję obiektu mapy z podanym elementem &lt;div&gt; HTML i opcjonalnie literałem obiektu z opcjami map.</p>
                    </div>
                    <div class="tab-pane fade" id="list-layer" role="tabpanel" aria-labelledby="list-layer-list">
                        <h2>addLayer(&lt;Layer&gt; <i>layer</i>)</h2>
                        <p>Dodaje daną warstwę do mapy</p>
                        <h2>removeLayer(&lt;Layer&gt; <i>layer</i>)</h2>
                        <p>Usuwa daną warstwę z mapy.</p>
                    </div>
                    <div class="tab-pane fade" id="list-popup" role="tabpanel" aria-labelledby="list-popup-list">
                        <h2>openPopup(&lt;String|HTMLElement&gt; <i>content</i>, &lt;LatLng&gt; <i>latlng</i>, &lt;Popup options&gt; <i>options?</i>)</h2>
                        <p>Tworzy wyskakujące okienko z określoną zawartością i opcjami i otwiera je w danym punkcie na mapie.</p>
                        <h2>closePopup(&lt;Popup&gt; <i>popup?</i>)</h2>
                        <p>Zamyka wyskakujące okienko otwarte wcześniej za pomocą openPopup (lub dane okienko).</p>
                    </div>
                    <div class="tab-pane fade" id="list-marker" role="tabpanel" aria-labelledby="list-marker-list">
                        <h2>L.marker(&lt;LatLng&gt; <i>latlng</i>, &lt;Marker options&gt; <i>options?</i>)</h2>
                        <p>Tworzy wystąpienie obiektu Marker z podanym punktem geograficznym i opcjonalnie obiektem opcji.</p>
                        <h2>setIcon(&lt;Icon&gt; <i>icon</i>)</h2>
                        <p>Zmienia ikonę znacznika.</p>
                    </div>
                    <div class="tab-pane fade" id="list-tooltip" role="tabpanel" aria-labelledby="list-tooltip-list">
                        <h2>L.tooltip(&lt;Tooltip options&gt; <i>options?</i>, &lt;Layer&gt; <i>source?</i>)</h2>
                        <p>Tworzy instancję obiektu Tooltip z opcjonalnym obiektem opcji, który opisuje jego wygląd i lokalizację oraz opcjonalny
                            obiekt źródłowy, który jest używany do oznaczania etykiety podpowiedzi z odniesieniem do warstwy, do której się odnosi.</p>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <h1 class="text-center pb-4" >Odnośniki do wszystkich funkcji, atrybutów, zdarzeń i klas</h1>
    <div class="container">
        <table class="table table-dark table-bordered table-hover">
            <thead>
                <tr>
                    <th>Kategoria</th>
                    <th>Podkategoria</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="bigrow" rowspan="3">Map</td>
                    <td><a href="https://leafletjs.com/reference-1.7.1.html#map-factory">Creation</a></td>
                </tr>
                <tr>
                    <td><a href="https://leafletjs.com/reference-1.7.1.html#map-option">Options</a></td>
                </tr>
                <tr>
                    <td><a href="https://leafletjs.com/reference-1.7.1.html#map-event">Events</a></td>
                </tr>

                <tr>
                    <td class="bigrow" rowspan="5">Map Methods</td>
                    <td><a href="https://leafletjs.com/reference-1.7.1.html#map-methods-for-modifying-map-state">Modifying map state</a></td>
                </tr>
                <tr>
                    <td><a href="https://leafletjs.com/reference-1.7.1.html#map-methods-for-getting-map-state">Getting map state</a></td>
                </tr>
                <tr>
                    <td><a href="https://leafletjs.com/reference-1.7.1.html#map-methods-for-layers-and-controls">Layers and controls</a></td>
                </tr>
                <tr>
                    <td><a href="https://leafletjs.com/reference-1.7.1.html#map-conversion-methods">Conversion methods</a></td>
                </tr>
                <tr>
                    <td><a href="https://leafletjs.com/reference-1.7.1.html#map-other-methods">Other methods</a></td>
                </tr>

                <tr>
                    <td class="bigrow" rowspan="2">Map Misc</td>
                    <td><a href="https://leafletjs.com/reference-1.7.1.html#map-property">Properties</a></td>
                </tr>
                <tr>
                    <td><a href="https://leafletjs.com/reference-1.7.1.html#map-pane">Panes</a></td>
                </tr>

                <tr>
                    <td class="bigrow" rowspan="3">UI Layers</td>
                    <td><a href="https://leafletjs.com/reference-1.7.1.html#marker">Marker</a></td>
                </tr>
                <tr>
                    <td><a href="https://leafletjs.com/reference-1.7.1.html#popup">Popup</a></td>
                </tr>
                <tr>
                    <td><a href="https://leafletjs.com/reference-1.7.1.html#tooltip">Tooltip</a></td>
                </tr>

                <tr>
                    <td class="bigrow" rowspan="4">Raster Layers</td>
                    <td><a href="https://leafletjs.com/reference-1.7.1.html#tilelayer">TileLayer</a></td>
                </tr>
                <tr>
                    <td><a href="https://leafletjs.com/reference-1.7.1.html#tilelayer-wms">TileLayer.WMS</a></td>
                </tr>
                <tr>
                    <td><a href="https://leafletjs.com/reference-1.7.1.html#imageoverlay">ImageOverlay</a></td>
                </tr>
                <tr>
                    <td><a href="https://leafletjs.com/reference-1.7.1.html#videooverlay">VideoOverlay</a></td>
                </tr>

                <tr>
                    <td class="bigrow" rowspan="9">Vector Layers</td>
                    <td><a href="https://leafletjs.com/reference-1.7.1.html#path">Path</a></td>
                </tr>
                <tr>
                    <td><a href="https://leafletjs.com/reference-1.7.1.html#polyline">Polyline</a></td>
                </tr>
                <tr>
                    <td><a href="https://leafletjs.com/reference-1.7.1.html#polygon">Polygon</a></td>
                </tr>
                <tr>
                    <td><a href="https://leafletjs.com/reference-1.7.1.html#rectangle">Rectangle</a></td>
                </tr>
                <tr>
                    <td><a href="https://leafletjs.com/reference-1.7.1.html#circle">Circle</a></td>
                </tr>
                <tr>
                    <td><a href="https://leafletjs.com/reference-1.7.1.html#circlemarker">CircleMarker</a></td>
                </tr>
                <tr>
                    <td><a href="https://leafletjs.com/reference-1.7.1.html#svgoverlay">SVGOverlay</a></td>
                </tr>
                <tr>
                    <td><a href="https://leafletjs.com/reference-1.7.1.html#svg">SVG</a></td>
                </tr>
                <tr>
                    <td><a href="https://leafletjs.com/reference-1.7.1.html#canvas">OCanvas</a></td>
                </tr>

                <tr>
                    <td class="bigrow" rowspan="4">Other Layers</td>
                    <td><a href="https://leafletjs.com/reference-1.7.1.html#layergroup">LayerGroup</a></td>
                </tr>
                <tr>
                    <td><a href="https://leafletjs.com/reference-1.7.1.html#featuregroup">FeatureGroup</a></td>
                </tr>
                <tr>
                    <td><a href="https://leafletjs.com/reference-1.7.1.html#geojson">GeoJSON</a></td>
                </tr>
                <tr>
                    <td><a href="https://leafletjs.com/reference-1.7.1.html#gridlayer">GridLayer</a></td>
                </tr>

                <tr>
                    <td class="bigrow" rowspan="6">Basic Types</td>
                    <td><a href="https://leafletjs.com/reference-1.7.1.html#latlng">LatLng</a></td>
                </tr>
                <tr>
                    <td><a href="https://leafletjs.com/reference-1.7.1.html#latlngbounds">LatLngBounds</a></td>
                </tr>
                <tr>
                    <td><a href="https://leafletjs.com/reference-1.7.1.html#point">Point</a></td>
                </tr>
                <tr>
                    <td><a href="https://leafletjs.com/reference-1.7.1.html#bounds">Bounds</a></td>
                </tr>
                <tr>
                    <td><a href="https://leafletjs.com/reference-1.7.1.html#icon">Icon</a></td>
                </tr>
                <tr>
                    <td><a href="https://leafletjs.com/reference-1.7.1.html#divicon">DivIcon</a></td>
                </tr>

                <tr>
                    <td class="bigrow" rowspan="4">Controls</td>
                    <td><a href="https://leafletjs.com/reference-1.7.1.html#control-zoom">Zoom</a></td>
                </tr>
                <tr>
                    <td><a href="https://leafletjs.com/reference-1.7.1.html#control-attribution">Attribution</a></td>
                </tr>
                <tr>
                    <td><a href="https://leafletjs.com/reference-1.7.1.html#control-layers">Layers</a></td>
                </tr>
                <tr>
                    <td><a href="https://leafletjs.com/reference-1.7.1.html#control-scale">Scale</a></td>
                </tr>

                <tr>
                    <td class="bigrow" rowspan="5">Utility</td>
                    <td><a href="https://leafletjs.com/reference-1.7.1.html#browser">Browser</a></td>
                </tr>
                <tr>
                    <td><a href="https://leafletjs.com/reference-1.7.1.html#util">Util</a></td>
                </tr>
                <tr>
                    <td><a href="https://leafletjs.com/reference-1.7.1.html#transformation">Transformation</a></td>
                </tr>
                <tr>
                    <td><a href="https://leafletjs.com/reference-1.7.1.html#lineutil">LineUtil</a></td>
                </tr>
                <tr>
                    <td><a href="https://leafletjs.com/reference-1.7.1.html#polyutil">PolyUtil</a></td>
                </tr>

                <tr>
                    <td class="bigrow" rowspan="4">DOM Utility</td>
                    <td><a href="https://leafletjs.com/reference-1.7.1.html#domevent">DomEvent</a></td>
                </tr>
                <tr>
                    <td><a href="https://leafletjs.com/reference-1.7.1.html#domutil">DomUtil</a></td>
                </tr>
                <tr>
                    <td><a href="https://leafletjs.com/reference-1.7.1.html#posanimation">PosAnimation</a></td>
                </tr>
                <tr>
                    <td><a href="https://leafletjs.com/reference-1.7.1.html#draggable">Draggable</a></td>
                </tr>

                <tr>
                    <td class="bigrow" rowspan="9">Base Classes</td>
                    <td><a href="https://leafletjs.com/reference-1.7.1.html#class">Class</a></td>
                </tr>
                <tr>
                    <td><a href="https://leafletjs.com/reference-1.7.1.html#evented">Evented</a></td>
                </tr>
                <tr>
                    <td><a href="https://leafletjs.com/reference-1.7.1.html#layer">Layer</a></td>
                </tr>
                <tr>
                    <td><a href="https://leafletjs.com/reference-1.7.1.html#interactive-layer">Interactive layer</a></td>
                </tr>
                <tr>
                    <td><a href="https://leafletjs.com/reference-1.7.1.html#control">Control</a></td>
                </tr>
                <tr>
                    <td><a href="https://leafletjs.com/reference-1.7.1.html#handler">Handler</a></td>
                </tr>
                <tr>
                    <td><a href="https://leafletjs.com/reference-1.7.1.html#projection">Projection</a></td>
                </tr>
                <tr>
                    <td><a href="https://leafletjs.com/reference-1.7.1.html#crs">CRS</a></td>
                </tr>
                <tr>
                    <td><a href="https://leafletjs.com/reference-1.7.1.html#renderer">Renderer</a></td>
                </tr>

                <tr>
                    <td class="bigrow" rowspan="4">Misc</td>
                    <td><a href="https://leafletjs.com/reference-1.7.1.html#event-objects">Event objects</a></td>
                </tr>
                <tr>
                    <td><a href="https://leafletjs.com/reference-1.7.1.html#global-switches">global switches</a></td>
                </tr>
                <tr>
                    <td><a href="https://leafletjs.com/reference-1.7.1.html#noconflict">noConflict</a></td>
                </tr>
                <tr>
                    <td><a href="https://leafletjs.com/reference-1.7.1.html#version">version</a></td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <th>Kategoria</th>
                    <th>Podkategoria</th>
                </tr>
            </tfoot>
        </table>
    </div>


</div>
